.template {
	&__header {
	}

	&__main {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
	}

	&__section {
		flex: 1 0 auto;
	}

	&__container {
		width: 100%;
		max-width: var(--max-width);
		height: 100%;

		margin: 0 auto;
	}

	&__footer {
		flex-shrink: 1;
	}
}
